$yellow_color: rgb(254, 218, 3);
$black_color: rgb(0, 0, 0);
$grey_color: rgba(255, 255, 255, 0.5);
$filled_button_background: rgba(45, 129, 255, 0.15);
$filled_button_color: rgb(45, 129, 255);
$filled_button_background_hover: rgba(45, 129, 255, 0.2);
$filled_button_color_hover: rgba(45, 129, 255, 0.9);
$stroked_button_background: transparent;
$stroked_button_color: rgb(255, 255, 255);
$stroked_button_border: rgba(255, 255, 255, 0.1);
$stroked_button_border_hover: rgba(255, 255, 255, 0.18);
$white_color: rgb(255, 255, 255);
$light_grey_color: rgba(255, 255, 255, 0.4);
$slight_grey_color: rgba(255, 255, 255, 0.8);

