@import "../variables/variables.scss";

.sections{
    padding-top: 32px;
    padding-bottom: 32px;

    .main-cards{
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;

        a{
            position: relative;
            height: 241px;
            border-radius: 16px;
            transition: all 0.12s ease-in-out 0s;
            width: 20%;
            padding-right: 10px;
            padding-left: 10px;
            transform-origin: center center;

            span{
                width: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                height: 100%;
                border-radius: 16px;
                transition: all 0.12s ease-in-out 0s;
            
                img{
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                    transition: all 0.12s ease-in-out 0s;
                }
                .content{
                    padding: 16px;
                    padding-right: 40px;
                    position: absolute;

                    p{
                        font-size: 18px;
                        margin: 0;
                        color: $white_color;
                        line-height: 1.4;
                    }
                    small{
                        font-size: 15px; 
                        color: $grey_color;
                        line-height: 1.4;
                        margin-top: 4px;
                        display: flex;
                    }
                }
            }
        }
        a:hover{
            transition: all 0.12s ease-in-out 0s;

            span{
                transition: all 0.12s ease-in-out 0s;

                img{
                    transform: scale(1.1);
                    transition: all 0.12s ease-in-out 0s;
                }
            }
        }
    }
    .top-sellers{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .top-seller-content{
            display: flex;
            margin-left: -10px;
            margin-right: -10px;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 184px;

            span{
                position: relative;
                height: 48px;
                width: 20%;
                padding-right: 10px;
                padding-left: 10px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .counting{
                    margin: 0px 16px;
                    color: $grey_color;
                    font-size: 14px;
                    line-height: 19.32px;
                }
                .profile-pic{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    svg{
                        position: absolute;
                        right: -4px;
                        bottom: 0;
                    }
                }
                .profile-info{
                    margin-left: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    a{
                        line-height: 20.7px;
                        color: $white_color;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                    }
                    small{
                        color: $grey_color;
                        font-size: 14px;
                        line-height: 19.32px;
                    }
                }
            }
            span:nth-child(3n){
                margin-bottom: 0;
            }
        }
        .dropdown{
            .dropdown-menu{
                a{
                    justify-content: space-between;
                    display: flex;
                    align-items: center;

                }
            }
        }
    }
    .hot-bids{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;

        .hot-bids-content{
            display: flex;
            margin-left: -10px;
            margin-right: -10px;

            .main-tag{
                position: relative;
                height: 420px;
                width: 20%;
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 16px;
                color: $grey_color;
                
                span{
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    height: 100%;
                    border-radius: 16px;
                    padding: 22px 24px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    background: rgb(18, 18, 18);
                    flex-direction: column;

                    .head-content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .head-left{
                            display: flex;

                            .small-img{
                                position: relative;
                                
                                a{
                                    width: 26px;
                                    height: 26px;
                                    border-radius: 50%;
                                    border: 1px solid rgb(18, 18, 18);
                                    font-size: 14px;
                                    background-color: #ffffff;
                                    display: flex;
                                    color: $black_color;
                                    align-items: center;
                                    justify-content: center;
                                    margin-left: -10px;
                                }
                                svg{
                                    position: absolute;
                                    right: -4px;
                                    bottom: 0;
                                }
                            }
                            .small-img:first-child{
                                a{
                                    margin-left: 0;
                                }
                            }
                        }
                        .head-right{
                            button{
                                width: 30px;
                                height: 30px;
                                background: transparent;
                                color: $grey_color;
                                padding: 0;
                            }
                            button:hover{
                                color: $white_color;
                                background: rgba(255, 255, 255, 0.06);
                            }
                        }
                    }
                    .body-content{
                        margin-top: 16px;
                        min-width: 191px;
                        min-height: 250px;  
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            max-width: 100%;
                            max-width: 100%;
                        }
                    }
                    .foot-content{
                        margin-top: 16px;

                        a{
                            padding: 0;
                            color: $white_color;
                            line-height: 20.7px;
                        }
                        .foot-small-content{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 4px;

                            .foot-left{
                                p{
                                    font-size: 14px;
                                    line-height: 19.32px;
                                    display: flex;
                                    margin: 0;

                                    .text-white{
                                        margin-right: 8px;
                                    }
                                }
                                small{
                                    font-size: 12px;
                                    line-height: 16.56px;
                                    display: flex;
                                    padding-top: 2px;

                                    .text-blue{
                                        margin-left: 5px;
                                    }
                                }
                            }
                            .foot-right{
                                display: flex;
                                align-items: center;
                                line-height: 16px;
                                font-size: 14px;
                                height: 36px;
                                border-radius: 22px;
                                padding: 6px 12px;
                                margin-right: -12px;
                                color: $grey_color;

                                svg{
                                    margin-right: 4px;

                                    path{
                                        stroke: $grey_color;
                                    }
                                }
                            }
                            .foot-right:hover{
                                background: rgba(255, 255, 255, 0.06);
                                color: $white_color;

                                svg{
                                    path{
                                        stroke: $white_color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropdown{
            svg{
                margin-left: 0;
            }
        }
    }
    .hot-collections{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;

        .hot-collections-content{
            display: flex;
            margin-left: -10px;
            margin-right: -10px;

            .main-tag{
                position: relative;
                height: 220px;
                width: 20%;
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 16px;
                
                span{
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    height: 100%;
                    border-radius: 16px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    background: rgb(18, 18, 18);
                    flex-direction: column;
                    align-items: center;

                    .head-content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 100px;
                        background-color: rgba(255, 255, 255, 0.03);
                        width: 100%;

                        img{
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }
                    .body-content{
                        border: 2px solid rgb(18, 18, 18);
                        background-color: rgb(18, 18, 18);
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        margin-top: -42px;
                        position: relative;

                        img{
                            max-width: 100%;
                            max-width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        svg{
                            position: absolute;
                            right: -4px;
                            bottom: 0;
                        }
                    }
                    .foot-content{
                        margin: 8px 0px 16px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0px 16px;
                        text-align: center;

                        h3{
                            margin: 0;
                            font-size: 15px;
                            line-height: 1.38;
                        }
                        small{
                            font-size: 13px;
                            line-height: 17.94px;
                            color: $grey_color;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    hr{
        background-color: rgba(255, 255, 255, 0.1);
        margin-top: 32px;
        margin-bottom: 0;
        opacity: 1;
    }
    .explore{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;

        .nav-pills{
            display: inline-flex;
            margin-left: 16px;

            .nav-link{
                background: rgb(18, 18, 18);
                border: 1px solid rgba(255, 255, 255, 0.1);
                line-height: 16px;
                color: $white_color;
                height: 40px;
                padding-left: 22px;
                padding-right: 22px;
                font-size: 14px;
                border-radius: 40px;
                margin-right: 12px;
            }
            .nav-link.active{
                color: rgb(18, 18, 18);
                background: rgb(255, 255, 255);
            }
        }
    }
}