@import "../variables/variables.scss";

header{
    height: 84px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;

    .container{
        display: flex;
        height: 100%;
        align-items: center;

        .logo{
            background-color: $yellow_color;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black_color;
            font-size: 20px;
            font-weight: 900;
            margin-right: 24px;
        }
        .content-right{
            width: calc(100% - 64px);
            display: flex;
            align-items: center;
            height: 100%;

            .search{
                border: 1px solid transparent;
                background: rgba(255, 255, 255, 0.07);
                height: 38px;
                border-radius: 24px;
                transition: all 0.12s ease-in-out 0s;
                display: flex;
                align-items: center;
                margin-right: 24px;
                width: 100%;
                padding: 0px 8px 0px 16px;

                svg{
                    color: $light_grey_color;
                    width: 20px;
                }
                input{
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    color: $white_color;
                    font-weight: 600;
                    margin-left: 8px;
                }
            }
            .search:hover{
                border-color: rgba(255, 255, 255, 0.1);
            }
            .search:focus{
                box-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
            }
            .links{
                display: flex;
                width: 100%;
                white-space: nowrap;
                margin-right: 24px;
                height: 100%;
            
                ul.links-ul{
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    color: $grey_color;
                    display: flex;

                    li{
                        margin-right: 20px;
                        display: flex;
                        align-items: center;

                        a:hover, 
                        a.active{
                            color: $white_color;
                        }

                        svg{
                            margin-left: 8px;
                        }
                        .dropdown{
                            .dropdown-menu{
                                width: 270px;

                                li{
                                    margin: 0;
                                    
                                    .divider{
                                        background-color: rgba(255, 255, 255, 0.1);
                                        height: 1px;
                                        margin-top: 12px;
                                        margin-bottom: 12px;
                                        width: 100%;
                                        margin: 12px;
                                    }
                                }
                                .inline-links{
                                    a{
                                        padding: 8px 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: $grey_color;
                                    }
                                    a:hover{
                                        background-color: transparent;
                                        color: $slight_grey_color;
                                    }
                                }
                                .inline-links:hover{
                                    a{
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
                .divider{
                    height: 24px;
                    width: 1px;
                    background: rgba(255, 255, 255, 0.1);
                    margin: 0px 18px;
                }
            }
            .buttons{
                display: flex;
                white-space: nowrap;

                .filled-button{
                    background-color: $filled_button_background;
                    color: $filled_button_color;
                    border: 1px solid transparent;
                    margin-right: 8px;
                }
                .filled-button:hover{
                    background-color: $filled_button_background_hover;
                    color: $filled_button_color_hover;
                }
                .stroked-button{
                    background-color: transparent;
                    color: $stroked_button_color;
                    border: 1px solid $stroked_button_border;
                }
                .stroked-button:hover{
                    border-color: $stroked_button_border_hover;
                }
            }
        }
    }
}