@font-face {
  font-family: "Circular Std", Helvetica, Arial, sans-serif;
  src: url(./fonts/Circular\ Std\ Font.otf);
}
body {
  margin: 0;
  font-family: "Circular Std", Helvetica, Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  background: rgb(18, 18, 18);
  font-size: 15px;
  max-width: 1600px;
}
.container{
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}